{% extends 'person_detector/database.html' %}

{% block add_database %}
        
        <div class="container shadow rounded mt-3">
            <h5>{{title}}</h5>
            <form method="POST" enctype="multipart/form-data" class="col">
                {% csrf_token %}
                    
                {% for form in post_form %}
                    <div class="col-auto">
                        {{form.label}}
                    </div>                        
                            
                    <div class="col-auto">
                        {{form}}
                    </div>
                {% endfor %}
                {% if update_data.picture %}
                    <img src="{{update_data.picture.url}}" alt="" width="90px">
                {% endif %} 

                <div>
                    <button type="submit" class="btn btn-success my-4">{{action}}</button>
                    <a href="{% url 'person_detector:database' %}" class="btn btn-danger">Back</a>
                </div>

            </form>
        </div>
{% endblock add_database %}


    